.App {
  text-align: center;
  background-color: antiquewhite;
}

/*header styles*/
.header {
  display: inline-flex;
  margin: 2rem auto;
  font-size: 1.5rem;
}

h1 {
  margin: 0;
}

.logo {
  max-height: 4rem;
  max-width: 4rem;
}



/*post styles*/

.post {
  border: 1px solid black;
  border-radius: 5%;
  justify-content: space-evenly;
  width: 60%;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 20px;
  background-color: aliceblue;
}

.karma {
  max-width: 10%;
}

.karma p {
  text-align: center;
}

.post h1 {
  margin: 5px;
  width: 100%;
  font-size: 1.25em;
}

.post img {
  width: 80%;
  border-radius: 5%;
  margin: 5px 7px 10px 5px;
}

.postFooter {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.postFooter .comments {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.commentCount {
  margin-left: 2px;
}

#commentIcon {
  height: 2em;
  margin-bottom: 0;
}